body { 

background-color: map-get($map:$paleta,$key:'dos'); 
margin: auto;

}

@mixin titulos ($color,$textAlling,$fontSize,$fontWeight){

	color: $color;
	text-align: $textAlling;
	font-size: $fontSize;
	font-weight: $fontWeight;
	padding: 10px 0;
}

h1 { 

	@include titulos($mainColor,center,1.4rem,700);
	
}

h2 { 

	@include titulos($secondaryColor,left,1.3rem,600);

}

h3 {

	@include titulos($thirdColor,left,1.2rem,500); 

}

h4 {

	@include titulos($fourthColor,left,1.1rem,400); 

}

.parrafos {

	color: $whiteColor;
 	font-size: 1rem;
 	text-align: justify;

}

p { 

	@extend .parrafos;

}

.text-contacto {

	@extend .parrafos;
	font-weight: 600;
}

article {

	a {
		text-decoration: none;
	}
}

figure {

	a {
		text-decoration: none;
	}
}

.bg-violet { 

	background-color: map-get($map:$paleta,$key:'uno');
}

  .btn-violet {

 	background-color: map-get($map:$paleta,$key:'uno');
 }
  .bg-gray {

 	background-color: map-get($map:$paleta,$key:'dos');
 }
  .btn-gray {

 	background-color: map-get($map:$paleta,$key:'cuatro');
 }


 .carousel-item img {

	object-fit: cover;
	object-position: center;
	height: 50vh;
	overflow: hidden;

 }
