@media (min-width: 580px){


	.text-contacto {

		font-size: 1.2rem;
	
	}

}

@media (min-width: 768px){

	nav { 

			ul { 

				display: flex;
				align-items: center;
				li {

					padding:  0.5rem;

			}

		}

	}

	
	.logo {

		width: 120px;

	}


	.boxShadow { 
 		box-shadow: 5px 5px 10px black;
		padding: 5px;
		transition: all 400ms;
 	
 	 }

 	.text-contacto {
	
		font-size: 1.4rem;
	
	}


}

@media (min-width: 1200px){

	body {
	max-width: 1300px;
	

	}

	.logo {

		width: 130px;
	}

	nav {

		ul {

			li {

				a {

				font-size: 1.4rem;

				}

			}

		}

	}

	h1 {

	font-size: 1.9rem;

	}

	h2 {

	font-size: 1.7rem;

	}

	h3 {

	font-size: 1.5rem;

	}

	h4 {

	font-size: 1.4rem;

	}

	p {

	font-size: 1.2rem;

	}


 	 .text-contacto {
	
	font-size: 1.6rem;
	
	}



	.boxShadow { 

	&:hover {transform: scale(1.15);}

	}
 
 	.imgScale {

 		&:hover {

	 	transition: all 400ms;
		transform: scale(1.15);

		}


	}

}