.navItem {

			text-decoration: none;
			padding: 1.6rem;
			font-size: 1rem;
			font-weight: 700;
			&:hover {

				background-color: map-get($map:$paleta,$key:'tres'); 

			 }
			
} 

.logo { 

	width: 100px; 

}

svg { 

	width: 40px;
	height: 40px;
	rect {

		width: 100%;
		height: 12px;
	}
}