// vars globales

$mainColor:#8D26FB;  
$secondaryColor:#8D43BB; 
$thirdColor:#A552D8; 
$fourthColor:#B766C3; 
$whiteColor:#FFFFFF; 
$grayColor:#212121; 
$hoverColor:#999989;

$paleta:(
	'uno':#8D26FB, 
	'dos':#212121, 
	'tres':#999989,
	'cuatro':#9B9A9A,
	'cinco':rgba(33,33,33,0.9)); 

